@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Limelight&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');


body {
    margin: 0;
    background-color: rgb(248, 250, 252);
}
header {
    background-color: rgb(24, 18, 43);
}

nav img {
    width: 300px; /* En caso la imagen toca arriba del nav tenemos que agregar a la clase el height*/
}
nav a {
    text-decoration: none;
    color: white;
    padding: 80px;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
    color:blueviolet;
}
nav li {
    display: inline;
    
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
h1{
    font-family: "Funnel Display", sans-serif;
    text-align: center;
}

.box {
    margin-left: 40px;
    margin-bottom: 20px;
    overflow: auto;
    width: 50%;
}

.box p {
    font-size: 20px;
    text-align: justify;
}
.box h2 {
    color: rgb(68, 60, 104);
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    font-family: "Limelight", sans-serif;
}

.box img {
    width: 450px;
    float: left;
    margin-right: 30px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    
    
}

.card img {
    width: 350px;
    overflow: hidden;
    border: none;
    border-radius: 10px;
}

.card {
    border: 5px solid rgb(57, 48, 83);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(99, 89, 133);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px  15px rgba(0, 0, 0, 0.3);
}


.card-content { 
    text-align: center;
}

.card-content a{
    display: inline-block;
    padding: 5px 35px;
    background-color: rgb(255, 199, 199);
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    
}

card-content a:hover {
    font-size: 20px;
    background-color: rgb(188, 204, 220);
}

footer {
    margin-top: 50px;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(24, 18, 43);
    color: white;
}